* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jockey One', sans-serif;
    font-size: 40px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6;
}

header {
    display: flex;
    align-items: center;
    padding: 20px 40px;
    background-color: #FBFAF0;
    border-bottom: 6px solid #A67D44;
}

.logo {
    color: #464246;
    margin-right: auto; 
    padding: 5px;
}

.logo img{
    max-width: 60px; 
    height: auto;
}


nav {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 80px;
}

.nav-links li a {
    color: #464246;
    text-decoration: none;
    font-size: 40px;
    padding: 5px 10px;
    position: relative;
}

.nav-links li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px; 
    width: 0;
    height: 5px;
    background-color: transparent; 
    transition: width 0.3s ease;
}

.nav-links li a:hover::after {
    width: 100%; 
    background-color: #123C69;
}

.nav-links li a.active::after {
    width: 100%;
    background-color: #123C69;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 20px; 
    top: 35px;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background-color: #898989;
    margin: 4px;
    border-radius: 5px;
    transition: 0.3s;
}

footer {
    background-color: #464246;
    color: white;
    padding: 20px 0;
    margin-top: auto;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    text-align: center;
    justify-content: space-between;
    padding: 1rem;
    
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-s .icon-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.icon-item i {
    margin-right: 8px;
    color: white;
    font-size: 20px;
}

.icon-item a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.icon-item :hover {
    color: blue;
}

.lo-go img {
    max-width: 60px;
    height: auto;
}

.copy p {
    font-size: 15px;
    margin-top: 10px;
}

.about-us{
    font-size: 4.3rem;
    color: #464246;
    font-family: "Jockey One";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 50px;

    
}
.para p{
    margin-top: 60px;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: "Jockey One";
    color: #464246;

}

#about-us{
    
    padding-left: 30px;
    margin-bottom: 100px;

}


#resources{
    padding-left: 30px;
}

#container {
    width: 80%;
    max-width: 900px;
    padding: 20px;
    background-color: #a57431;
    border-radius: 8px;
    color: white;
    margin-bottom: 100px;

   
}

#resources h2 {
    font-size: 2.5rem;
    
    margin-bottom: 1rem;
    color: #333;
    margin-top: 40px;
}

.headline-item {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    line-height: 1.5;
}

.link-box {
    margin-top: 0.5rem;
    padding: 10px;
    background-color: #dcdcdc;
    border: 2px solid #0091ff;
    border-radius: 4px;
    padding-left: 100px;
    font-size: 25px;
    font-weight: 400;
}

.link-box a {
    display: block;
    color: #0091ff;
    text-decoration: none;
    margin: 0.5rem 0;
}


@media (max-width: 480px) {
    #container {
        padding: 15px;
    }

    h1 {
        font-size: 1rem;
    }

    .headline-item {
        font-size: 0.4rem;
    }
    .para{
        font-size: 0.3rem;
    }
    .about-us{
        font-size: 0.3rem;
    }
    
}
@media (max-width: 768px) {
    #resources {
        font-size: 1.25rem;
    }

   
    .para{
        font-size: 1.2rem;
    }
    .about-us{
        font-size: 2rem;
    } 
}
/* Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        width: 50%; 
        height: 0;
        width: 0; 
        overflow: hidden;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        transition: height 0.3s ease;
        padding: 0px;
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    }

    .nav-links.nav-active {
        background-color: #fff; 
        height: auto; 
        width: 30%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 60px;
        right: 0;
        transition: height 0.3s ease;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .nav-links li a {
        font-size: 20px; 
        padding: 5px;
    }

    .hamburger {
        display: flex;
    }
    .footer-container {
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
    }

    .column {
        align-items: flex-start;
    }

    .articles {
        flex-direction: column;
        align-items: center;
    }

    .top-articles, .new-articles {
        width: 100%;
        margin-bottom: 20px; 
    }
    .content {
        grid-template-columns: 1fr;   
    }
    .content h2 {
        font-size: 1.25rem;
        word-break: break-word;
    }

    .content p {
        font-size: 0.9rem; 
        word-break: break-word;
    }
}





/*home*/

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


.search-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 80%;
    margin-bottom: 20px;
}

.search-bar h2 {
    margin-bottom: 5px;
    font-size: 20px;
    text-align: right;
}

#search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 250px;
}


.articles {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
}


.top-articles, .new-articles {
    width: 45%;
    text-align: center; 
}

.top-articles h2, .new-articles h2 {
    font-size: 50px;
    margin-bottom: 10px;
    font-weight: normal; 
    padding-bottom: 5px;
    color: #333; 
}

.articles-parts p, .new-articles div p {
    font-size: 18px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f2f2f2; 
    border-radius: 5px; 
    color: #555;
}


/*article page*/
.content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0 20px; 
    max-width: 100%;
    margin: 0 auto;
}

.content p{
    font-size: 30px;
    line-height: 1.6;
    padding: 10px;
    text-align: left;
    font-weight: normal;
}

.content h2{
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-weight: 100;
}

.name-date{
    margin-left: 30px;
}

.name-date h2{
    font-size: 20px;
    font-weight: normal;
}